form {
  padding-top: 40px;
  text-align: center;
}
.form-wrapper {
  height: 700px;
}
.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 420px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.signup-form input {
  border: none;
  border-bottom: 1px solid black;
  width: 200px;
  background: transparent;
  outline: none;
}
.signup-form button {
  margin-top: 20px;
  width: 200px;
  border: none;
  border-radius: 4px;
  background-color: #329932;
  color: white;
  font-size: 15px;
  height: 40px;
}
.signup-form button:hover {
  background: #98CC98;
}
#fullname-input {
  border: none;
}
h2 {
  margin-top: 30px;
  padding: 0 20px;
  text-align: center;
}
.error {
  margin-top: 60px;
  padding: 10px 20px;
  color: crimson;
  border: 2px solid crimson;
  border-radius: 3px;
}
hr {
  color: black;
  background-color: #fff;
  border: solid lightgrey 1px;
  font-size: 34px;
  font-weight: 500px;
  width: 80%;
  text-align: center;
}
