/*Footer Section */

.footer {
  background-color: #1a1a1a;
  vertical-align: bottom;
  padding-bottom: 35px;
  border-bottom: 3px solid #129CF3;
}
#copyright {
  width: 50%;
}
#copyright p {
  margin-top: 50px;
  color: #8C8B8A;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
#copyright p a {
  text-decoration: none;
  color: #129CF3;
}
.scroll-top {
  text-align: right;
  margin-top: 50px;
}
.scroll-top a {
  background-color: #129CF3;
  padding: 25px;
}
.scroll-top a i {
  color: #fff;
  font-size: 25px;
}
