
<header class="header" id="HOME">

  <div class="header-overlay">
    <div class="container header-container">
      <div class="row">
        <div class="col-md-12">
          <div class="logo text-center">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="header-text">
            <h1 class="header-text"> Find The Perfect Spot</h1>
            <p> Discovering New Expiriences </p>
          </div>
          <div class="header-btns">
            <a href="#ABOUT" class="btn wow fadeInRight btn-tour">
              Take a tour
              <i class="fa fa-angle-down"></i>
             </a>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="header-iphone">
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<section id="ABOUT">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="section-title">
          <h2> About Spot It </h2>
          <p>
            Spot it is a website that allows you to find new work out spots in Miami and find the the balance in your life-health
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="choose-us-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about-iphone">
            <img src="/assets/images/developers.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="choose-us-title">
            <h2> What exactly provides?  </h2>
            <p>
              Spot-It provides a data-base of places that you can go to in the Miami Area.
              It also provides a personalised workout and meal plan.
            </p>
          </div>
          <div class="choose-us-des">
            <div class="choose-us-item">
              <div class="icon">
                <!-- <i class="fa fa-bolt"></i> -->
              </div>
              <h3>Spots to do Activities</h3>
              <p>
                You sign-up and you have access to all the database in the webpage and you can add your own spots too.
                It is a user-centered website.
              </p>
            </div>
            <!-- second element -->
            <div class="choose-us-item">
              <div class="icon">
                <!-- <i class="fa fa-bullhorn"></i> -->
              </div>
              <h3>Profile</h3>
              <p>
                The website allows you to input you stats in a unique profile page and then gives you feedback on
                how to achieve your goals.
              </p>
            </div>
            <!-- third element -->
            <div class="choose-us-item">
              <div class="icon">
                <!-- <i class="fa fa-flag"></i> -->
              </div>
              <h3>Where are we heading?</h3>
              <p>
                We will try to connect people togther in order to promote out-door activities
                and have a daily tracker for your activities.
              </p>
              <p>
                Be expecting updates and changes soon.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials section  -->
<section class="testimonial">
  <div class="testimonial-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carousel-testimonial"class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-testimonial" data-slide-to="1" class=""></li>
              <li data-target="#carousel-testimonial" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active text-center">
                <img class="center-block" src="/assets/images/client-01.jpg" alt="testimonial">
                <div class="testimonial-caption">
                  <h2>Randal</h2>
                  <h4><span> Sr. Software Engineer, </span>Runs as a hobby</h4>
                  <p>
                    "I really love this website, it helped me getting a good reference of my personal health and now
                    I now about all this places that I had never heard before."
                  </p>
                </div>
              </div>
              <div class="item text-center">
                <img class="center-block" src="/assets/images/client-02.jpg" alt="testimonial">
                <div class="testimonial-caption">
                  <h2>Juan Jose</h2>
                  <h4><span> Career Coach, </span>Set the bar high</h4>
                  <p>
                    'I am allways travelling so being able to lookout for spots where I can work out is just fantastic.'
                  </p>
                </div>
              </div>
              <div class="item text-center">
                <img class="center-block" src="/assets/images/client-03.jpg" alt="testimonial">
                <div class="testimonial-caption">
                  <h2>Fernado</h2>
                  <h4><span> Stistitian, </span>Agility</h4>
                  <p>
                    'I really like to go walking on trails. This app allowed me to discover new trails and post the ones that I know.'
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Features Section -->
<section class="features" id="FEATURES">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="section-title">
          <h2>FAQ</h2>
          <p>
            BMR? MACROS? Don't worry it's all here.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="features-inner-wrapper">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="left-feature-item">
            <div class="icon left-feature-item-icon">
              <!-- <i class="fa fa-desktop"></i> -->
            </div>
            <h3> What is BMR? </h3>
            <p>
              BMR stands for Basal Metabolic Rate, which is the amount of calories
              your body burns just by functioning.
            </p>
          </div>

          <div class="left-feature-item">
            <div class="left-feature-item-icon">
              <!-- <i class="fa fa-mobile"></i> -->
            </div>
            <h3> What are Macros? </h3>
            <p>
              Macro-Nutrients or 'Macros' Are the Essential Nutrients that your body needs daily.
            </p>
          </div>

          <div class="left-feature-item">
            <div class="left-feature-item-icon">
              <!-- <i class="fa fa-eye"></i> -->
            </div>
            <h3> Why 'x' amount of carbs? </h3>
            <p>
              There is a formula that calculates the amount of grams of each Macro.
              It is calculated based on your unique stats, though it is advise to check your
              body stats weekly in order to adjust.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="feature-iphone">
            <img src="/assets/images/what.jpg" alt="">
          </div>
        </div>

        <div class="col-md-4">
          <div class="right-feature-item">
            <div class="right-feature-item-icon">
              <!-- <i class="fa fa-certificate"></i> -->
            </div>
            <h3> 'I thought fats were bad' </h3>
            <p>
              Fats are an ESSENTIAL Macronutrient so no, as long as it comes form avocado, peanuts or
              unsaturated fats in general (NOT JUNKFOOD) you are fine.
            </p>
          </div>

          <div class="right-feature-item">
            <div class="right-feature-item-icon">
              <!-- <i class="fa fa-rss"></i> -->
            </div>
            <h3> 'Why can't I see the maps database?'' </h3>
            <p>
              The website is made in order the user to interact once he is logged in (You gotta log in bruh!).
            </p>
          </div>

          <div class="right-feature-item">
            <div class="right-feature-item-icon">
              <!-- <i class="fa fa-database"></i> -->
            </div>
            <h3> 'My Profile is empty' </h3>
            <p>
              The Profiles are empty as default. Please go to 'Edit Profile' in order to update it.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Purchase Now Section  -->
<section class="purchase-now">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p>
          If you want to get a premium membership with tailored routines, purchase the plan.
        </p>
      </div>
      <div class="class-md-3">
        <a href="#" class="btn btn-primary btn-purchase-now" role="button"> Get Membership </a>
      </div>
    </div>
  </div>
</section>

<section class="portfolio" id="PORTFOLIO">

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="section-title">
          <h2>Spots</h2>
          <p> Spread the word of the spots you know and submit them! </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/assets/images/camera.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/assets/images/camera2.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/assets/images/camera3.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/assets/images/camera4.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/assets/images/camera5.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/assets/images/camera6.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/assets/images/camera7.jpg">
      </div>
      <div class="col-md-3">
        <img class="portfolio-item "href="#" src="/assets/images/camera8.jpg">
      </div>
    </div>
  </div>

</section>

<!-- Counter Section -->
<section class="counter">
  <div class="counter-overlay">
    <div class="container">
      <div class="row text-center">

        <div class="col-md-3">
          <div class="counter-item">
            <div class="">
              <i class="fa fa-cloud-download"></i>
            </div>
            <h2><span class="counter-num"> 1588</span><span>+</span></h2>
            <p>Downloads</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="counter-item">
            <div class="">
              <i class="fa fa-gift"></i>
            </div>
            <h2><span class="counter-num"> 1900</span><span>+</span></h2>
            <p>Awards</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="counter-item">
            <div class="">
              <i class="fa fa-heart-o"></i>
            </div>
            <h2><span class="counter-num"> 158</span><span>+</span></h2>
            <p>likes</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="counter-item">
            <div class="">
              <i class="fa fa-check"></i>
            </div>
            <h2><span class="counter-num"> 858</span><span>+</span></h2>
            <p>Reviews</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="available-on">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="available-title">
          <h2>Available Soon</h2>
          <p>
            We are allready expanding, wait for the next big thing.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">

          <a href="#">
            <div class="col-md-4 no-padding">
              <div class="available-on-item">
                <i class="fa fa-apple"></i>
                <div class="available-on-inner">
                  <h2>iOS</h2>
                </div>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="col-md-4 no-padding">
              <div class="available-on-item">
                <i class="fa fa-android"></i>
                <div class="available-on-inner">
                  <h2>ANDROID</h2>
                </div>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="col-md-4 no-padding">
              <div class="available-on-item">
                <i class="fa fa-windows"></i>
                <div class="available-on-inner">
                  <h2>WINDOWS</h2>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact-info -->
<section class="contact-info" id="CONTACT">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="section-title">
          <h2>Contact Info</h2>
          <p>If you want to send me a message please find my contact info below.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-push-2">
        <div class="info">
          <div class="row-info">
            <p><i class="div-info fa fa-map-marker"></i>SW 120 St, Miami FL, 33130</p>
          </div>
          <div class="row-info">
            <p><i class="div-info fa fa-envelope"></i>filioarturo@gmail.com</p>
          </div>
          <div class="row-info">
            <p><i class="div-info fa fa-phone"></i>+52-SECRET-PHONE :P</p>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-md-push-2">
        <div class="form">
          <div id="sendmessage">
          </div>
          <div id="errormessage">
            <form class="contact-form" role="form" method="post">
              <input class="contactForm" type="text" placeholder="Name" name="" value="">
              <br>
              <input class="contactForm" type="text" placeholder="Email"name="" value="">
              <br>
              <input class="contactForm" type="text" placeholder="Subject" name="" value="">
              <br>
              <textarea class="contactForm textarea" placeholder="Your Text Here..." name="name" rows="5"></textarea>
              <button class="btn btn-download form-btn" type="button" name="button">Send Message</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
