<div class="spots-list">

  <div class=" container">
    <div class="row">
      <h2> Spots in Miami to workout </h2>
      <ul>
        <li *ngFor="let oneSpot of spots">
          <img [src]="imageDomain + oneSpot.image" alt="">
          <br>
          <h3> {{ oneSpot.name }}</h3>
          <br>
          <h3> {{ oneSpot.workout }}</h3>
          <br>
          <a [routerLink]="['/spots', oneSpot._id]">
            See Details
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
