
h2 {
  margin-top: 60px;
  margin-left: 2%;
}
img {
  height: 350px;
  width: auto;
  max-width: 350px;
  margin-top: 30px;
  margin-bottom: -230px;
}
ul {
  list-style: none;
}
.list-card {
  margin-bottom: 30px;
  height: 400px;
  width: 350px;
}
.list-card a {
  text-align: center;
  color: white;
  border: 1px solid black;
  width: 350px;
  font-weight: 600;
  text-transform: uppercase;
}
.list-card h3 {
  font-size: 40px;
}
