<p class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</p>

<div class="error" *ngIf="errorMessage">
  <h3> {{ errorMessage }}</h3>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2> Your Spots </h2>
    </div>
  </div>

  <div class="row">
    <div class="add-items-form col-md-12">
      <button class="add-button" (click)="showsForm()">
        Add A new Spot
      </button>
      <app-spot-form *ngIf="isFormOn"
      (newSpotNorifier)="handleNewSpot($event)"></app-spot-form>
    </div>

    <ul *ngIf="!isFormOn">
      <li class="col-md-3 col-sm-3 item-card" *ngFor="let oneSpot of spots">
        <img [src]="oneSpot.image" alt="">
        <h3> {{ oneSpot.name }} </h3>
        <p> {{ oneSpot.workout }}</p>
        <p> {{ oneSpot.address }}</p>
        <a [routerLink]="['/spots', oneSpot._id]">
          Spot Details
        </a>
      </li>
    </ul>
  </div>
</div>
